$icon-color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.SMD-UI {
    .production-ui {
        .timeline-container {
            height: 80px;
            width: 100%;
            background: linear-gradient( to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
            position: absolute;
            bottom: 0;
            .timeLine {
                width: 98%;
                height: 5px;
                left: 1%;
                position: absolute;
                margin-top: 20px;
                background-color: rgba(150, 150, 150, 0.8);
                .progress {
                    width: 50%;
                    height: 5px;
                    position: absolute;
                    background-color: red;
                    .currentBall {
                        z-index: 10;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: red;
                        position: absolute;
                        right: 0;
                        bottom: -7px;
                        cursor: pointer;
                    }
                }
            }
            .functions {
                width: calc(100% - 24px);
                height: 45px;
                left: 0;
                position: absolute;
                bottom: 0;
                padding: 0 12px;
                display: flex;
                .function-button {
                    width: 30px;
                    height: 30px;
                    margin-left: 5px;
                    margin-right: 5px;
                    position: relative;
                    background-size: cover;
                    svg {
                        fill: red;
                    }
                }
                .pause-button {
                    border: 0;
                    background: transparent;
                    box-sizing: border-box;
                    width: 0;
                    height: 24px;
                    border-color: transparent transparent transparent white;
                    transition: 200ms all ease;
                    cursor: pointer;
                    border-style: solid;
                    border-width: 12px 0 12px 20px;
                    margin-top: 3px;
                    margin-left: 5px;
                    margin-right: 5px;
                    &.pause {
                        border-style: double;
                        border-width: 0px 0 0px 20px;
                    }
                    &:hover {
                        border-color: transparent transparent transparent #eee;
                    }
                }
            }
        }
    }
}
svg { cursor: pointer; }