$icon-color: #eee;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.SMD-UI {
    .production-ui {
        .timeline-container {
            height: 80px;
            width: 100%;
            background: linear-gradient( to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
            position: absolute;
            bottom: 0;
            .timeLine {
                width: 98%;
                height: 5px;
                left: 1%;
                position: absolute;
                margin-top: 20px;
                background-color: rgba(150, 150, 150, 0.8);
                .progress {
                    width: 50%;
                    height: 5px;
                    position: absolute;
                    background-color: red;
                    .currentBall {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: red;
                        position: absolute;
                        right: 0;
                        bottom: -7px;
                        cursor: pointer;
                    }
                }
            }
            .functions {
                width: calc(100% - 24px);
                height: 45px;
                left: 0;
                position: absolute;
                bottom: 0;
                padding: 0 12px;
                .function-button {
                    
                    width: 35px;
                    height: 35px;
                    position: relative;
                    background-size: cover;
                    cursor: pointer;
                }
                .left {
                    float: left;
                    margin-right: 10px;
                }
                .right {
                    float: right;
                    margin-left: 10px;
                }
            }
        }
    }
}