.SMD-UI {
    .production-ui {
        opacity: 0;
        position: relative;
        height: 100%;
        width: 100%;
        transition: opacity 200ms;
    }
    .display {
        opacity: 1;
    }
}