.AnalysisContainer {
    width: 360px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    video {
        width: 360px;
        height: 240px;
        margin: 0;
    }
    .result {
        margin-top: 4px;
        color: #222;
        font-size: 30px;
    }
}