.analysisContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 16%;
    // background-color: rgb(221, 242, 234);
    min-height: 100px;
    max-height: 200px;
    .infoContainer {
        width: 260px;
        padding: 10px;
        position: absolute;
        background-color: red;
        overflow: hidden;
        gap: 10em;
        .bufferContainer {
            width: calc(100% - 2em);
            background-color: beige;
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            padding: 1em;
            h6 {
                margin: 0;
                font-weight: 500;
                font-size: 1em;
            }
        }
        .videoClass {
            width: 100%;
        }
    }
    .momentContainer {
        position: absolute;
        right: 10px;
        top: 5%;
        height: 90%;
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        padding-right: 20px;
        .moment {
            height: fit-content;
            width: 60px;
            transition: 1000ms;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            perspective: 1000px;
            canvas {
                transform: rotateY(-55deg);
                opacity: 0.5;
                width: 150px;
                height: 150px;
                transition: 250ms;
                cursor: pointer;
            }
            .dataContainer {
                transition: 600ms;
                transform: rotateY(-55deg);
                opacity: 0.5;
                width: calc(150px - 0.4em);
                text-align: center;
                background-color: royalblue;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                padding: 0.2em;
                height: 1em;
            }
        }
        .enter {
            transition: 600ms;
            width: 100px;
            z-index: 10;
            canvas {
                transform: rotateY(0deg);
                opacity: 1;
            }
            .dataContainer {
                transform: rotateY(0deg);
                opacity: 1;
                height: 20em;
                padding: 1em;
                position: relative;
                width: 200px;
                right: 40px;
                border-top-left-radius: 5px;
            }
        }
    }
}
.containerHide {
    display: none;
}