.analysisContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 16%;
    background-color: rebeccapurple;
    min-height: 100px;
    max-height: 200px;
    .infoContainer {
        width: 260px;
        padding: 10px;
        position: absolute;
        background-color: red;
        overflow: hidden;
        .bufferContainer {
            width: calc(100% - 2em);
            background-color: beige;
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            padding: 1em;
            h6 {
                margin: 0;
                font-weight: 500;
                font-size: 1em;
            }
        }
        .videoClass {
            width: 100%;
        }
    }
}
.containerHide {
    display: none;
}